{% extends 'navbar.html' %}
{% load static %}
{% block body %}
    <link rel="stylesheet" href="{% static 'css/Profile.css' %}">
    <div class="container-fluid">
        <h2>Your Profile:</h2>
        <div class="row">
            <div class="col-md-4">
                {% if user.profile_picture %}
                    <a href="#" class="rounded btn btn-info btn-sm">
                        <img src="{{ user.profile_picture.url }}" alt="profile pic"
                             style="width: 150px; height: 120px; border-radius: 50%"><br>
                    </a>
                {% else %}
                    <a href="#" class="rounded btn btn-info btn-sm">
                        <img src="{% static 'images/default-picture.png' %}" alt="blank"
                             style="width: 150px; height: 120px; border-radius: 50%"><br>
                    </a>
                {% endif %}
            </div>
            <div class="col-md-8">
                <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
                <p>Username: {{ user.username }}</p>
                <p>Email: {{ user.email }}</p>
            </div>
        </div>

    </div>
{% endblock %}
